ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Host=vo8ckgw4gws00sscg8gwowgg;Port=5432;Database=hrpayroll;Username=postgres;Password=1992;Pooling=true;Include Error Detail=true

Jwt__Issuer=hrpayroll-api
Jwt__Audience=hrpayroll-web
Jwt__Key=replace_with_a_long_random_secret_32_chars_min

Cors__AllowedOrigins=https://your-web-domain.com

Smtp__Host=
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__From=

Claude__ApiKey=
